
body {
    background-image: linear-gradient(#FFFFFF, rgb(255, 122, 89));
    padding: 100px 0;
    text-align: center;
}

.product {
    width: 50%;
    max-width: 400px;
    background-color: #fff;
    margin: 5px 10px;
    display: inline-block;
    border: 10px;
    box-shadow: 3px 3px 10px #ccc;
    height: 500px;

background-image: radial-gradient(circle 100px, #ccc 100%, transparent), linear-gradient(#ccc,#ccc),linear-gradient(#fff,#fff);
background-size: 200px 200px, 90% 20%, 100% 100%;
background-position: center 20%, center 70%, 0 0;
background-repeat: no-repeat;
} 


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 75px;
}

.search-box {
    display: block;
   margin-left: auto;
   margin-right: auto;
}

 /* .search-box li {
    flex-basis: 500px; width: 500px;
    position: relative;
    cursor: pointer;
} 


#click-button {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(206, 245, 212, 0.63);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: white;
    border-radius: 8px;
    border-style: double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    /* Centering overlay text  */
     /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   }  */

  /* Hover feature.*/
  /* .search-box li:hover .overlay {
    transform: scale(1);
  }  */ 

